### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/
*.swp

# Gradle and Maven with auto-import
.idea/modules.xml
.idea/workspace.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/libraries/
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/jarRepositories.xml

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Java ###
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.nar
hs_err_pid*

### System Files ###
.DS_Store
Thumbs.db